#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=

#HOMEPAGE_PORT=8080
#DOOR43_ENQUEUE_JOB_PROXY_PORT=5553
#TX_ENQUEUE_JOB_PROXY_PORT=5554
#DCS_PORT=5555
#DCS_SSH_PORT=222
#DB_ENDPOINT=sqlite:///:memory:
#TX_DATABASE_PW=123
#DCS_USER_TOKEN=123
#TX_PROXY_URL=http://tx-enqueue-proxy
#QUEUE_PREFIX=dev-
#REDIS_PORT=6379
#REDIS_URL=redis://redis:6379
#DEBUG_MODE=true
#TEST_MODE=true
#DCS_URL=http://dcs
#RESTRICT_DCS_URL=false
#LISTEN_IP=127.0.0.1
#ALLOWED_IPS=0.0.0.0/0
