# rq and statsd/Graphite and requests are used by the job handler
rq==1.5.2
statsd==3.3.0
requests==2.24.0

# boto3 is used by aws_tools
boto3==1.16.1

#gogs_client is used by gogs_tools
gogs_client==1.0.6

